$first_color: #2a2a2a;
$second_color: #FF5A5F;
$white: #FDFFFC;

$stackoverflow_text_color: #f7ac6d;
$stackoverflow_text_hover_color: #fbcda7;

$font_size_default: 20px;
$border_default: 0.8rem;
$letter_spacing_default: 0.1rem;
$padding_default: 1.5rem;

$title_font_size_default: 2rem;
$title_margin_bottom_default: 0.3rem;

$subtitle_font_size_default: 0.7rem;

$svg_height_default: 9rem;
$svg_margin_bottom_default: 2rem;

$button_font_default_size: 0.7rem;
$button_padding_default_size: 0.5rem;
